<%-include("partials/header") %>
    <%-include("partials/navbar") %>
    
    <%-include("partials/intro") %>
    <hr>
     <%-include("partials/about") %>
     <hr>
     <%-include("partials/skills") %>
     <hr>
    <%-include("partials/certificates") %>
    <hr>
    <%-include("partials/education") %>
    <hr>
    <%-include("partials/contact") %>
    <hr>
   
 <%-include("partials/footer") %>   
</body>
</html>